RUSTFS_ADDRESS={{ rustfs_api_address | quote }}
RUSTFS_CONSOLE_ADDRESS={{ rustfs_console_address | quote }}
RUSTFS_CONSOLE_ENABLE={{ rustfs_console_enabled | ternary('true','false') }}
RUSTFS_REGION={{ rustfs_region | quote }}
RUSTFS_ACCESS_KEY={{ rustfs_root_user | quote }}
RUSTFS_SECRET_KEY={{ rustfs_root_password | quote }}
RUSTFS_OBS_LOGGER_LEVEL={{ rustfs_logger_level | quote }}
{% for key, value in rustfs_extra_env.items() %}{{ key }}={{ value | string | quote }}
{% endfor %}
